:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  --header-bg-color: #38393b;
  --sidenav-bg-color: #38393b;
  --primary-btn-bg-color: #38393b;
  --primary-btn-hover-bg-color: #4D5D69;
  --primary-btn-text-color: #fff;
  --primary-btn-clicked-bg-color: #7D9198;
  --table-text-color: #000;
  --paper-bg-color: #A6C5E1;
  --paper-border-color: #69A3D0;
  --tooltip-bg-color: #7D9198;
  --tooltip-text-color: #fff;
  --primary-bg-color: #fff;
  --primary-text-color: #38393b;
  --primary-border-color: #38393b;

  --secondary-btn-bg-color: #A6C5E1;
  --secondary-btn-hover-bg-color: #69A3D0;
  --secondary-btn-text-color: #38393B;
  --Paper-shadow: none;
  --primary-icon-color: #fff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.MuiTablePagination-menuItem {
  color: #fff !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}