
.container-wrapper {
  width: 100%;
}

.container-div {
  display: flex;
  width: 100%;
}

.content-wrapper {
  margin-left: 200px;
  margin-top: 50px;
  width: -webkit-fill-available;
}

.content-div {
  padding: 40px 40px 0 40px;
  overflow: auto;
}
